extends layout

block contents
  form#RegisterGameForm
    div 새로운 게임 등록
    input.text.gid(type='text', id='gid', placeholder='천봉 미리보기 아이디 혹은 주소를 입력해주세요')
    input.button(type='submit' value='등록')
    div.warning
  div#GameList
  script#GameTemplate(type='text/x-handlebars-template')
    div.game
      div.title
        span.gid {{id}}
        a.game-link(href='/game/{{id}}') 자세히 보기
      div.players
        | {{#each players}}
        div.nick {{this}}
        | {{/each}}
      div.results
        | {{#each result}}
        div.result(class='{{#if buttobi}}buttobi{{/if}}')
          div.point {{point}}
          div.rank {{rank}}위
        | {{/each}}
      div.upload-datetime {{uploadDatetime}} 에 업로드 됨.

block scripts
  script(src='/js/index.js')
