doctype html
html
  head
    meta(charset='utf-8')
    title= pageTitle

    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/main.css')
    block stylesheets
  body
    div.container
      h1.title.black
        a(href='/') 마작!
      div.menu
        span.menu-description 기록 확인:
        a.menu-item(href='/') 게임
        a.menu-item(href='/user') 유저
        a.menu-item(href='/hora') 화료
      div.contents
        block contents
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/js/handlebars.js')
    block scripts
