#RegisterGameForm {
  margin-top: 10px;
}

#RegisterGameForm input.gid {
  width: 400px;
  margin-right: 2px;
}

#RegisterGameForm div.warning {
  color: #FF4136;
}

#GameList {
  margin-top: 10px;
}

#GameList .game {
  border-radius: 5px;
  border: 1px solid #444;
  margin: 7px 0;
  width: 800px;
}

#GameList .game .title {
  font-size: 14px;
  background-color: #444;
  color: white;
  padding: 5px 10px;
}

#GameList .game .title a.game-link {
  color: white;
  text-decoration: underline;
  float: right;
}

#GameList .game .players {
  height: 30px;
}

#GameList .game .players .nick {
  width: 200px;
  text-align: center;
  float: left;
  font-size: 23px;
  line-height: 30px;
  height: 30px;
}

#GameList .game .results {
  height: 65px;
}

#GameList .game .results .result {
  width: 200px;
  text-align: center;
  float: left;
}

#GameList .game .results .result.buttobi {
  color: #FF4136;
}

#GameList .game .results .result .point {
  font-size: 50px;
  line-height: 50px;
  height: 50px;
}

#GameList .game .results .result .rank {
  font-size: 14px;
  line-height: 15px;
  height: 15px;
}

#GameList .game .upload-datetime {
  margin: 7px 10px 5px;
  font-size: 14px;
  text-align: right;
}
